*
!/Cargo.toml
!/Cargo.lock
!/LICENSE
!/datalith/
/datalith/*
!/datalith/Cargo.toml
!/datalith/src/
!/datalith/src/**
!/datalith-core/
/datalith-core/*
!/datalith-core/Cargo.toml
!/datalith-core/src/
!/datalith-core/src/**
!/.github/
/.github/*
!/.github/scripts/
/.github/scripts/*
!/.github/scripts/install-ffmpeg.sh
!/.github/scripts/check-imagemagick.sh
